@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root {
    /* theme dark */
    --bg-g-color: #000;
    --bg-div-1-color: #424141;
    --bg-div-2-color: #252525;
    --text-1-color: #fff;
    --text-2-color: #000;
    --button-color: #3533CD;
    --img-n:1;

    /* other */
    --border-line-color: #000;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.light-theme {
    --bg-g-color: #fff;
    --bg-div-1-color: #EFF5FF;
    --bg-div-2-color: #DBE1EB;
    --text-1-color: #000;
    --text-2-color: #fff;
    --border-line-color: #fff;
    --img-n:0;
}

.select {
    background-color: var(--button-color);
    color: #fff;
}

.no-select {
    background-color: var(--bg-div-2-color);
    color: var(--text-1-color);
}

.no-select:hover {
    background-color: var(--bg-div-1-color);
    color: var(--text-1-color);
}

.select-img {
    background-color: var(--button-color);
}

.no-select-img {
    background-color: var(--bg-div-1-color);
}

.no-select-img:hover {
    background-color: var(--bg-div-2-color);
}

.select-img img {
    filter: invert(1);
}

.no-select-img img {
    filter: invert(var(--img-n));
}

.none {
    display: none;
}

section#main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: var(--bg-g-color);
    transition: background-color 0.3s;
}


/* NAV */

div#nav {
    width: 150px;
    margin: 20px 10px 20px 20px;
    background-color: var(--bg-div-1-color);
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s;

}

div#nav div#logo {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div#nav div#logo img {
    width: 70px;
}

div#nav div#img-profil-client {
    width: 100%;
    height: 115px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div#photo {
    background-color: var(--text-1-color);
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

div#nav div.nav-button {
    margin: 70px 0;
}

div#lien button {
    border: none;
    border-radius: 20px;
    padding: 10px;
    transition: all 0.3s;
}

div#lien button img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s;
}

/* CORE */

div#core-message {
    display: flex;
    width: 100%;
    margin: 20px 10px 20px 10px;
    background-color: var(--bg-div-1-color);
    border-radius: 60px;
    transition: background-color 0.3s;
}

div#core-friend {
    display: flex;
    width: 100%;
    margin: 20px 10px 20px 10px;
    background-color: var(--bg-div-1-color);
    border-radius: 60px;
    transition: background-color 0.3s;
    flex-direction: column;
}

div#core-friend > div#up {
    width: 100%;
    background: var(--bg-div-2-color);
    height: 120px;
    border-radius: 60px 60px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: safe;
}

div#core-friend > div#up div#friend button {
    margin-left: 40px;
}

div#core-friend > div#up button {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0 20px;
    cursor: pointer;
    transition: all 0.3s;
}

div#core-friend > div#down {
    width: 100%;
    height: calc(100% - 120px);
    border-radius: 0 0 60px 60px;
}

div#search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    border-radius: 60px 0 0 0px;
    background-color: var(--bg-div-1-color);
    transition: background-color 0.3s;
}

div#search input.search {
    width: calc(100% - 200px);
    background-color: var(--bg-div-2-color);
    margin: 0;
    padding: 0;
    border: solid 2px var(--text-2-color);
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    padding: 0 10px;
    color: var(--text-1-color);
    font-family: 'IBM PLEX MONO';
}

div#down-newFriend  div#search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    border-radius: 60px 0 0 0px;
    background-color: var(--bg-div-1-color);
    transition: background-color 0.3s;
}

div#down-newFriend  div#search input#search-newFriend {
    width: calc(100% - 200px);
    background-color: var(--bg-div-2-color);
    margin: 0;
    padding: 0;
    border: solid 2px var(--text-2-color);
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    padding: 0 10px;
    color: var(--text-1-color);
    font-family: 'IBM PLEX MONO';
}

div#search-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -20px;
    height: 30px;
}

.errer {
    color: #ff0000;
}

.susses {
    color: #00ff00;
}

div#search-status-text {
    width: calc(100% - 200px);
    padding: 0 10px;
    font-family: 'IBM PLEX MONO';
    font-size: 20px;
}

div#core-group {
    display: flex;
    width: 100%;
    margin: 20px 10px 20px 10px;
    background-color: var(--bg-div-1-color);
    border-radius: 60px;
    transition: background-color 0.3s;
}

div#core-seting {
    display: flex;
    width: 100%;
    margin: 20px 10px 20px 10px;
    background-color: var(--bg-div-1-color);
    border-radius: 60px;
    transition: background-color 0.3s;
    overflow-y: scroll;
}

div#core-seting::-webkit-scrollbar {
    width: 0;
    background-color: #000;
}

div#core-seting div#page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#page div#title {
    font-family: 'IBM Plex Mono', monospace;
    color: var(--text-1-color);
    font-size: 30px;
    margin-top: 20px;
}
div#page div#title-1 {
    color: var(--text-1-color);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 25px;
    margin-top: 20px;
}

div#page > div#content {
    width: calc(100% - 500px);
}

div#page div#content div#profil #info {
    width: 430px;
    margin: 10px 20px 20px 10px;
    background-color: var(--bg-div-1-color);
    transition: background-color 0.3s;
}

div#content input.password {
    width: calc(100% - 24px - 300px);
    background-color: var(--bg-div-2-color);
    margin: 0;
    padding: 0;
    border: solid 2px var(--text-2-color);
    height: 35px;
    border-radius: 10px;
    font-size: 20px;
    padding: 0 10px;
    margin: 10px 20px;
    color: var(--text-1-color);
    font-family: 'IBM PLEX MONO';
}

div#content button#change-password-button {
    width: calc(100% - 300px);
    background-color: var(--button-color);
    margin: 0;
    padding: 0;
    border: 0;
    height: 39px;
    border-radius: 10px;
    font-size: 20px;
    padding: 0 30px;
    margin: 10px 20px;
    color: var(--text-1-color);
    font-family: 'IBM PLEX MONO';
    cursor: pointer;
    transition: all 0.3s;
}

div#change, div#change-password, div#content, div#content > div {
    width: 100%;
}

div#content button#change-password-button:hover {
    background-color: var(--bg-div-2-color);
    transition: all 0.3s;
}

div#info #name, div#info #email {
    color: var(--text-1-color);
    display: flex;
    flex-direction: row;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
}

div#core-message div#left {
    width: 400px;
    height: 100%;
    background-color: var(--bg-div-1-color);
    border-radius: 60px 0 0 60px;
    transition: background-color 0.3s;
}

div#core-message div#cherche {
    width: 100%;
    height: 90px;
    border-radius: 60px 0 0 0px;
    background-color: var(--bg-div-1-color);
    transition: background-color 0.3s;
}

div#core-message div#clients {
    width: 100%;
    height: calc(100% - 90px);
    border-radius: 0 60px 0 60px;
    overflow-y: scroll;
    background-color: var(--bg-div-2-color);
    transition: background-color 0.3s;
}

div#core-message div#clients::-webkit-scrollbar {
    width: 0;
    background-color: #000;
}

div#core-message div#clients li {
    display: flex;
    align-items: center;
}

div#core-message div#clients li div#photo {
    margin-left: 20px;
}

div#core-message div#clients li div#name {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    color: var(--text-1-color);
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s;
}

div#core-message div#clients ul#client-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div#core-message div#clients ul#client-list > li {
    width: 100%;
    height: 90px;
    border-bottom: solid var(--bg-div-1-color) 2px;
    transition: all 0.3s;
}

.s {
    background-color: var(--bg-div-1-color);
}

div#core-message div#right {
    display: flex;
    flex-direction: column;
    width: calc(100% - 400px);
}

li#message-first {
    margin-bottom: 100px;
    animation: to-up 0.3s;
}

@keyframes to-up {
    0% {
        margin-top: calc(100px - -20px);
        margin-bottom: -40px;
    }
    100% {
        margin-bottom: 100px;
        margin-top: 10px;
    }
}

div#core-message div#right div#message {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100% - 120px);
    width: 100%;
    align-items: stretch;
}

div#core-message div#right div#degrad {
    position: sticky;
    background: linear-gradient(to top, var(--bg-div-2-color), #ffffff00);
    width: 100%;
    height: 100px;
    z-index: 1;
}

div#core-message div#right div#conversation {
    height: calc(100% - 160px);
    width: 974.64px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    position: fixed; /* Ajoutez cette ligne */
}

div#core-message div#right div#conversation::-webkit-scrollbar {
    display: none;
    opacity: 0;
}

.from {
    margin: 10px 0 10px 50px;
    text-align: left;
    background-color: var(--bg-div-2-color);
    height: fit-content;
    width: fit-content;
    color: var(--text-1-color);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    padding: 4px 8px;
    border-radius: 18px;
    max-width: 500px;
}

.to {
    color: #fff;
    margin: 10px 50px 10px 0;
    align-self: flex-end;
    background-color: var(--button-color);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    padding: 4px 8px;
    border-radius: 18px;
    max-width: 500px;
    word-break: break-word;
}

div#core-message div#right div#conversation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
}

div#core-message div#right div#input {
    background-color: var(--bg-div-1-color);
    width: 100%;
    height: 120px;
    border-radius: 0 0 60px;
}

div#input {
background-color: var(--bg-div-1-color);
    width: 100%;
    height: 120px;
    border-radius: 0 0 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#input div#input-message {
    width: 100%;
    margin-left: 30px;
    margin-right: 55px;
}

div#input div#input-message input#input-text-message {
    width: 100%;
    background-color: var(--bg-div-2-color);
    margin: 0;
    padding: 0;
    border: solid 2px var(--text-2-color);
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    padding: 0 10px;
    color: var(--text-1-color);
    font-family: 'IBM PLEX MONO';
}

/* INFO */

div#info {
    width: 430px;
    margin: 20px 20px 20px 10px;
    background-color: var(--bg-div-1-color);
    transition: background-color 0.3s;
    border-radius: 60px;
}
